/* https://www.w3schools.com/howto/howto_css_cards.asp */

.card {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
	margin-right: 10px;
	margin-top: 10px;
}

.card_container {
	padding: 2px 16px;
}

.column {
	float: left;
	width: 25%;
	/* padding: 0 10px; */
}
