:root {
	--body-background: #e3e7f1;
	--body-background: white;
	--selected-underline: #494ca2;
	--top-bar-background: #c6cbef;
	--top-bar-color: black;
	--unused: #8186d5;
}

/* the whole top bar */
.tabs > .header {
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
	background: var(--top-bar-background);
}

/* each selection */
.tabs > .header > * {
	color: var(--top-bar-color);
	display: inline-block;
	padding: 14px 24px;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
}

/* only the active cell */
.tabs > .header > .active {
	border-bottom: 4px solid var(--selected-underline) !important;
}

/* and the actual references */
.tabs > .header > * > a {
	/* this means that if a link is selected it will not have a border outline */
	outline: none;
}

/* content of each tab */
.tabs > .tab {
	padding: 14px 24px;
}

/* the whole site */
BODY {
	/* setup a modern font for the site */
	font-family: helvetica;
	background: var(--body-background);
}

.list-nostyle {
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
}
