:root {
	--body-background: #e3e7f1;
	--body-background: white;
	--selected-underline: #494ca2;
	--top-bar-background: #c6cbef;
	--top-bar-color: black;
	--unused: #8186d5;
}

/* the whole top bar */
.tabs > ul {
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
	background: var(--top-bar-background);
}

/* the whole cell of each selection */
.tabs > ul > li {
	border-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}

/* only the active cell */
.tabs > ul > li.active {
	border-bottom: 4px solid var(--selected-underline) !important; 
}

/* and actually references */
.tabs > ul > li > a {
	color: var(--top-bar-color);
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
	/* this means that if the link it selected it will not have a border outline */
	outline: none;
}

/* content of each tab */
.tabs > div {
	padding: 14px 24px;
}

/* the whole site */
BODY {
	/* setup a modern font for the site */
	font-family: helvetica;
	background: var(--body-background);
}

.list-nostyle {
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
}
